@import "tailwindcss";

html,body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url("./assets/bghome.svg");
}

.form-style {
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}